<%= page_title(resource.title) unless resource.home? %>
<% if resource.body.present? %>
    <div class="page_content">
      <%= resource_body_tag do %>
          <%= render_html_text(resource.body) %>
      <% end %>
    </div>
<% end %>
<%
	sections = begin
		if resource.children.try(:any?)
			resource.children
		else
			resource.self_and_siblings
		end
	end
%>
<% if sections.try(:any?) %>
	<% sections.in_groups_of(2) do |section_group| %>
	<div class="row-fluid">
		<% section_group.each do |section| %>
		<div class="span6">
			<% if section %>
				
				<h3><%= section.title.html_safe %></h3>
				<% if section.images.any? %>
					<%= link_to(image_fu(section.thumbnail, "670x"), url_for([section]), :class => "remote-diaporama", :remote => true ) %>
				<% end %>
				<%= render_html_text(section.body) %>
				<% if section.images.any? %>
					<%= link_to("Voir le diaporama".html_safe, url_for([section]), :class => "remote-diaporama", :remote => true )%>
				<% end %>
				<%= link_to("Voir la visite".html_safe, "/assets/garden-1-bedroom-suites.mov", :class => "virtual-tour" )%>
			<% end %>
		</div>
		<% end %>
	</div>
	<% end %>
<% end %>