<head>
	<meta charset='utf8' />
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
	<%= raw %(<meta name="google-site-verification" content="#{site.google_webmaster_tools_key}" />) if site.google_webmaster_tools_key.present? -%>
	<title><%= @meta_title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<%= raw %(<meta name="description" content="#{@meta_description}" />) if @meta_description.present? -%>
	<%= raw %(<meta name="robots" content="#{@meta_robots}" />) if @meta_robots.present? -%> 
  <%= raw %(<link rel="canonical" content="#{@canonical}" />) if @canonical.present? -%>
  <meta name="p:domain_verify" content="def63e683d9c5afa1152e88a342669b7"/>
  <% @alternate_links.each do |link| %> 
    <%= raw link %> 
  <% end if @alternate_links.present? %>
	<%= yield :meta %>                                                
	<!-- Le styles -->
	<% if site.has_plugin?(:themes) and site.has_theme? %>
    <%= theme_stylesheet_link_tag "public" %>
	<% else %>
    <%= stylesheet_link_tag "public" %>
	<% end %>
	<%= stylesheet_link_tag "gko_print", :media => "print" %>
  <%= raw %(<style type='text/css' media='all'>#{site.stylesheet}</style>) if site.stylesheet? -%>
	<!-- Le fav and touch icons -->
	<link rel="shortcut icon" href="/favicon.ico">
	<!-- <link rel="apple-touch-icon" href="assets/ico/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/ico/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/ico/apple-touch-icon-114x114.png"> -->
	<%#= include_gon(:camel_case => true) %>
  <%= render "typekit" %>
  <%= csrf_meta_tags if site.authenticity_token_on_frontend -%>
	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
	 	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<%= yield :head %>
</head>